body {
    background: rgba(79,79,79,1) !important;
    background: -moz-radial-gradient(center top, ellipse cover, rgba(79,79,79,1) 0%, rgba(79,79,79,0) 100%) !important;
    background: -webkit-gradient(radial, center top, 0px, center top, 100%, color-stop(0%, rgba(79,79,79,1)), color-stop(100%, rgba(79,79,79,0))) !important;
    background: -webkit-radial-gradient(center top, ellipse cover, rgba(79,79,79,1) 0%, rgba(79,79,79,0) 100%) !important;
    background: -o-radial-gradient(center top, ellipse cover, rgba(79,79,79,1) 0%, rgba(79,79,79,0) 100%) !important;
    background: -ms-radial-gradient(center top, ellipse cover, rgba(79,79,79,1) 0%, rgba(79,79,79,0) 100%) !important;
    background: radial-gradient(ellipse at center top, rgba(79,79,79,1) 0%, rgba(79,79,79,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#4f4f4f', GradientType=1 ) !important;
    color: #86888A !important;
    background-color: #303030 !important;
}

.confess-container {
    width: 544px !important;
    position: relative !important;
    top: 40% !important;
    transform: translateY(-50%) !important;
}

textarea, input {
    background-color: #4F4F4F !important;
    resize: none !important;
    color: #F1FAFF !important;
    font-family: 'Didact Gothic', sans-serif !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), inset 2px 2px 10px rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px !important;
}

.payment-input > input {
    border: none !important;
    box-shadow: none !important;
    text-align: right !important;
}

.payment-input-column {
    background: #4F4F4F;
}

textarea {
    height: 150px !important;
}

h1.gradient-text {
    background-image: -ms-linear-gradient(left, #86888A 0%, #FFFFFF 100%) !important;
    background-image: -moz-linear-gradient(left, #86888A 0%, #FFFFFF 100%) !important;
    background-image: -o-linear-gradient(left, #86888A 0%, #FFFFFF 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #86888A), color-stop(100, #FFFFFF)) !important;
    background-image: -webkit-linear-gradient(left, #86888A 0%, #FFFFFF 100%) !important;
    background-image: linear-gradient(to right, #86888A 0%, #FFFFFF 100%) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.confess-header {
    font-size: 4em !important; 
    margin-bottom: 0 !important;
}

p {
    font-size: 18px !important;
}

#root, main, .confess-wrapper {
    height: 100% !important;
}

.icon-wrapper {
    position: absolute !important;
    bottom: 12% !important; 
    width: 61px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

i.circle {
    cursor: pointer;
}

a.arrow-link {
    text-decoration: none !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.exit-link {
    position: relative !important;
    top: 40px !important;
}

.next-link {
    position: absolute !important;
    right: 25px !important;
    bottom: -40px !important;
}

.grid.value-form {
    border: 1px solid #86888A;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

label {
    font-size: 16px;
    color: #F1FAFF;    
}

/* Remove input spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}