.countdown-box-wrapper {
    text-align: center;
}

.countdown-number-box {
    background: #F1FAFF !important;
    box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.1) !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 40px;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.countdown-unit-title {
    font-family: 'Courier' !important;
    text-transform: uppercase !important;
    color: #84888A !important;
    font-size: 20px;
    margin-bottom: 5px;
}
