.hero {
    background-image: url('/images/TetzelCoin_Background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 700px !important;
    padding: 1em 0em !important;
}

.hero:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 83%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(83%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 83%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 83%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 83%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 83%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.dark-gray-background {
    background: #FAFAFA !important;
}

button.ui.big.primary.button.btn-cta,
a.ui.big.primary.button.btn-cta {
    text-transform: uppercase !important;
    font-weight: 400 !important;
    letter-spacing: .5px !important;
    font-family: 'Didact Gothic', sans-serif !important;
    transition: all 0.8s ease 0s;
    text-decoration: none !important;
}
button.ui.big.primary.button.btn-cta:active {
    transform: translateY(4px);
}
button.ui.big.primary.button.btn-cta:hover {
    background: white !important;
}

input[type="text"],
.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
    font-family: 'Didact Gothic', sans-serif !important;
    letter-spacing: .2px;
}

h3.ui.header {
    font-weight: 100;
    padding-bottom: 30px;
}
h4.ui.header {
    font-weight: 100;
    letter-spacing: .2px;
}
p {
    padding-bottom: 30px;
    margin: 0 !important;
}
a {
    color: #5f5f5f !important;
    text-decoration: underline !important;
}
a:hover {
    text-decoration: none !important;
}

.ui.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

/* Semantic UI is being annoying about centering some items... so we have
this hack instead.
 */
.center-hack {
    margin-left: auto !important;
    margin-right: auto !important;
}

.how-it-works-steps {
    background-color: #FAFAFA !important;
    border: none !important;
    box-shadow: none !important;
    font-family: 'Courier' !important;
}
.ui.segment.how-it-works-steps {
    width: 100%;
    padding: 2rem;
}
.ui.segment.how-it-works-steps p {
    padding-bottom: 0;
}
.medical-debt-image {
    margin-top: 8%;
}
.ui.huge.image, .ui.huge.images .image, .ui.huge.images img, .ui.huge.images svg {
    width: 70% !important;
}
.ui.vertical.segment.medical-debt-image {
    padding-top: 8%;
    padding-bottom: 8%;
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes wiggle {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  50% {
    transform: scale(1.01) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}

.rise {
  animation-name: rise;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes rise {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(70px);
  }
}

.icons {
    width: 40px;
}
.icons:hover {
    opacity: .8;
}
a.icons-link:hover:after {
    content: '';
}
.footer .ui.container {
    padding-top: 7.5%;
}

.footer {
    background-image: url('/images/TetzelCoin_Background-Footer.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 250px !important;
    overflow: hidden !important;
    padding: 1em 0em !important;
}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(73%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.footer-text {
    font-size: '1.2em' !important;
}

.social-icons {
    display: inline-block !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.footer-copyright {
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 767px) {
    .footer-email {
        padding-bottom: 0 !important;
    }
}

/* EVENT POPUP CSS */
.event-popup {
  position: fixed;
  bottom: 5px;
  right: 1px;
  z-index: 100000000;
}
button.button.event-popup {
  background: #5F5F5F;
  color: #F1FAFF;
  font-family: 'Didact Gothic', sans-serif;
  transition: all 0.8s ease 0s;
  font-weight: 400 !important;
  letter-spacing: .2px !important;
  border-radius: 10px !important;
  border: 1px solid #5F5F5F !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
  margin-left: 5px;
  padding-right: 0;
}
button.button.event-popup:hover {
  background: #86888A;
  color: #F1FAFF;
}
button.button.event-popup:focus {
  background: #5F5F5F;
  color: #F1FAFF;
}
.ui.top.right.popup.transition.visible,
.ui.popup.transition.visible {
  position: fixed !important;
  bottom: 50px !important;
  font-size: 20px !important;
  width: 320px !important;
  color: #8A8484 !important;
  border: 1px solid #E0E0E0;
  border-radius: 10px !important;
  transition: all 0.8s ease 0s;
}

.ui.top.right.popup.transition.visible div,
.ui.popup.transition.visible div {
  width: 285px !important;
}

@media (max-width: 350px) {
  .ui.top.right.popup.transition.visible div,
  .ui.popup.transition.visible div {
    width: 265px !important;
  }
  .ui.popup.transition.visible.event-popup {
    bottom: 70px !important;
  }
}

.ui.top.right.popup.transition.visible img,
.ui.popup.transition.visible img {
    width: 100%;
}

.ui.popup.transition.visible.event-popup {
  top: auto;
  bottom: 61px !important;
  right: 6px !important;
}

.ui.popup.transition.visible.event-popup::before {
  bottom: -6px;
  float: right;
  right: 20px !important;
}
.ui.popup:before {
  box-shadow: 1px 1px 0 0 #E0E0E0 !important;
}

small, .small {
  line-height: 1rem;
}

button.button.event-popup > i {
    margin: 0;
    padding-left: 15px;
    padding-right: 19px;
}

@media only screen and (max-width: 350px) {
    button.button.event-popup {
        font-size: 16px !important;
    }

    .ui.big.primary.button.btn-cta {
        font-size: 16px !important;
    }
}

.home.important-note {
    text-decoration: underline;
}