.email-input {
    margin-bottom: 0 !important;
}

.email-input input {
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-radius: 0px !important;
    margin-right: 15px !important;
    background: transparent !important;
    text-align: center !important;
    margin-top: 11px !important;
}

