.sins-table-outer-wrapper {
    padding-bottom: 80px;
}

h1.header.ui.dswallau.sins-header {
    color: #86888A !important;
    font-size: 4em;
}

.ui.container.sins-table.below-navbar {
    margin-top: 80px;
    width: 80%;
}

.sinner-field,
.sinner-field .sins-table,
.sinner-field p {
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui.grid.sins-table.mobile-subgrid .eight.wide.column.sinner-field {
  padding-left: 0 !important;
}

.sins-table.ui.grid.main-grid {
    border-radius: 10px;
    margin-top: 1em;
}
.ui.grid.sins-table.main-grid {
  font-size: 18px;
}

.sins-table.row {
    border-bottom: 1px solid #E5E5E5;
}

/* Get both last computer-only and mobile-only rows in the grid */
.sins-table.row:last-of-type, .sins-table.row:nth-last-of-type(2) {
    border-bottom: none;
}

p.sins-table {
    padding: 10px 50px 30px 50px;
    font-size: 20px;
}
.sins-table .eight.wide.column {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

div.sins-table.pager {
    text-align: center;
    display: block !important;
    margin-top: 50px;
}

div.item.sins-table.pager-item {
    cursor: pointer;
}

div.item.sins-table.pager-item.active {
    font-size: 18px;
}

div.sins-table.confess-btn-wrapper {
    text-align: center;
    margin-top: 100px;
}

.ui.grid.sins-table.mobile-subgrid {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;
}

p.sins-table.mobile-subgrid.sin-text {
    padding: 0;
}

@media screen and (max-width: 500px) {

    .sins-header {
        font-size: 2.5em !important;
        margin: 0 !important;
    }

    p.sins-table {
        font-size: 17px !important;
        padding: 30px 0px;
    }

    p.sins-table.sins {
      font-size: 18px !important;
    }
    .sins-table-outer-wrapper {
        padding-bottom: 40px;
    }

    div.sins-table.confess-btn-wrapper {
        margin-top: 50px;
    }
    .sinner-field p.sins-table {
      font-size: 12px !important;
    }
    .mobile.only.row.sins-table {
      padding-bottom: 2rem;
    }

}
a .icon {
  text-decoration: none !important;
}
i.icon {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.ui.popup:before{
  box-shadow: 1px 1px 0 0 #d4d4d5;
}
.gray,
span.gray {
  color: #828282 !important;
}
.lt-gray {
  color: #E5E5E5 !important;
}
.courier {
  font-family: 'Courier' !important;
  padding-left: 5px;
}
.sinner-field p {
  font-size: 16px !important;
  line-height: 1.5em;
  letter-spacing: .3px;
}
p.confession-sin {
  font-size: 20px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
p.sin-value {
  font-size: 22px !important;
}
.pull-right {
  float: right;
}
