h1.header.ui.dswallau.sins-header {
    color: #86888A !important;
    font-size: 4em; 
}

.ui.container.sins-table.below-navbar {
    margin-top: 52px;
}

.sinner-field {
    text-overflow: ellipsis;
    overflow: hidden;    
}

.ui.grid > .sins-table.row {
    padding: 0;
}

p.sins-table {
    padding: 30px 50px;
    font-size: 20px;    
}

div.sins-table.pager {
    text-align: center;
    display: block !important;
    margin-top: 50px;    
}

div.item.sins-table.pager-item {
    cursor: pointer;
}

div.item.sins-table.pager-item.active {
    font-size: 18px;
}