.tokens-wrapper p {
  font-size: 1.33em !important;
}
.tokens-wrapper p.text-center {
  text-align: center;
}

.tokens-wrapper span.courier {
  font-family: 'Courier' !important;
  padding-left: 0;
}
.tokens-wrapper .tokens-address {
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}
.tokens-wrapper .tokens-instructions {
  margin: 50px 0px;
}
.ui.container.tokens-container {
  padding: 0px 15px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 80px;
  max-width: 550px !important;
  min-height: 560px;
}
