.tokens-wrapper p {
  font-size: 1.33em !important;
}
.tokens-wrapper p.text-center {
  text-align: center;
}

.tokens-wrapper span.courier {
  font-family: 'Courier' !important;
  padding-left: 0;
}
.tokens-wrapper .tokens-address {
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}
.tokens-wrapper .tokens-instructions {
  margin: 50px 0px;
}
.ui.container.tokens-container {
  padding: 0px 15px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 80px;
  max-width: 550px !important;
  min-height: 560px;
}
.tokens-instructions .ui.center.aligned.header,
.tokens-instructions .ui.centered.header,
.tokens-instructions a.ui.centered.header {
  text-align: center;
  font-weight: lighter;
  font-size: 20px !important;
  color: #828282 !important;
}
.tokens-container td {
  font-size: 18px !important;
  color: #828282 !important;
  font-weight: normal !important;
}
@media (max-width: 767px) {
  .ui.table:not(.unstackable) tr {
    padding-top: 0px !important;
    padding-bottom: .5em !important;
  }
  .ui.definition.table tr td.definition,
  .ui.definition.table tr td:first-child:not(.ignored) {
    padding-top: .5em !important;
  }
}
