/*
Semantic UI doesn't currently have a good way to override CSS in React
so we have to add `!important` after every rule that we want
*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
  font-family: 'Didact Gothic', sans-serif !important;
}

h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif !important;
}

.dswallau {
  font-family: 'DSWallau' !important;
}
